@* @model Friend

@{
    ViewData["Title"] = "Create friend";
}

<h2>@ViewData["Title"]</h2>
@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

<form method="post" action="/friends/create">

    <label for="name">Name:</label>
    @if (ViewData["NameError"] != null)
    {
        <span class="text-danger">
            * @ViewData["NameError"]
        </span>
    }
    <input type="text" name="name" value="@Model.Name" /><br />

    <label for="age">Age:</label>
    @if (ViewData["AgeError"] != null)
    {
        <span class="text-danger">
            * @ViewData["AgeError"]
        </span>
    }
    <input type="text" name="age" value="@Model.Age"/><br/>

    <label for="email">Email:</label>
    <input type="text" name="email" value="@Model.Email"/><br/>

    <label for="street">Street:</label>
    <input type="text" name="address.street" value="@Model.Address.Street"/><br/>

    <label for="city">City:</label>
    <input type="text" name="address.city" value="@Model.Address.City"/><br/>

    <label for="zipCode">ZipCode:</label>
    <input type="text" name="address.zipCode" value="@Model.Address.ZipCode"/>

    <input type="submit" value="Submit">
</form>
*@




@*A침adir los mensajes de error tom치ndolos desde el ModelState.
Para mostrar el error relativo a un campo podemos utilizar el siguiente c칩digo:
@Html.ValidationMessage("nombre-del-campo")*@

@model Friend
@{
    ViewData["Title"] = "Create friend";
}
<h2>@ViewData["Title"]</h2>
@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

@Html.ValidationSummary() @*Resumen de la validaci칩n en el encabezado*@

<form method="post" action="@Url.Action("Create", "Friends")">
    <h3>Basic information</h3>

    <div class="form-group">
        <label for="name">Name</label> @Html.ValidationMessage("name")
        <input type="text" name="name" id="name" class="form-control" value="@Model.Name" />
    </div>

    <div class="form-group">
        <label for="age">Age</label> @Html.ValidationMessage("age")
        <input type="number" max="120" min="0" name="age" id="age" class="form-control" value="@Model.Age" />
    </div>

    <div class="form-group">
        <label for="email">Email</label> @Html.ValidationMessage("email")
        <input type="text" name="email" id="email" class="form-control" value="@Model.Email" />
    </div>

    <h3>Address</h3>

    <div class="form-group">
        <label for="street">Street</label> @Html.ValidationMessage("address.street")
        <input type="text" name="address.street" id="street" class="form-control" value="@Model.Address.Street" />
    </div>

    <div class="form-group">
        <label for="city">City</label> @Html.ValidationMessage("address.city")
        <input type="text" name="address.city" id="city" class="form-control" value="@Model.Address.City" />
    </div>

    <div class="form-group">
        <label for="zipCode">Zip code</label> @Html.ValidationMessage("address.zipCode")
        <input type="text" name="address.zipCode" id="zipCode" class="form-control" value="@Model.Address.ZipCode" />
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>